<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NDQNN5WE5S"></script><script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-NDQNN5WE5S');</script>
    
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico"/> 
    <title>PokeBook</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>



    <header>
        <h1>
            PokeBook
        </h1>
        {{!-- {{#if loggedIn}} --}}
        <nav>
            <ul>
                <li>
                    <a href="/profile">My Profile</a>
                </li>
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/">Logout</a>
                </li>
            </ul>
        </nav>
        {{!-- {{/if}} --}}
    </header> 



    <main class="container">
        {{!-- handlebars syntax for inputting data --}}
        {{{ body }}}
    </main>


</body>
</html>