<section class="container">
  <div class="row">
    <h1>hello</h1>
  </div>
  <div class="row">
  
  {{!-- <h2>Create New Post</h2> --}}

  <form class="new-post-form">
    
    <div class="col">
      <label for="post-message" class="">Message</label>
      <input id="post-massage" name="post-massage" />
    </div>
    <button type="submit" class="btn-dark rounded col">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> messages post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</div>
</section>
{{/if}}

{{!-- <script src="/javascript/add-post.js"></script> --}}