<form>
    <div class="login">
        <input type="text" id="sign-name" placeholder="Username">
        <input type="text" id="sign-pwd" placeholder="Password">
        <button>Sign In</button>
    </div>
    <div class="new-account-btn">
        <button>Create new account</button>
    </div>
</form>
