<form class="login">
    <div class="login">
        <input type="text" id="sign-name" placeholder="Username">
        <input type="text" id="sign-pwd" placeholder="Password">
        <button type="submit">Sign In</button>
    </div>
    <div class="new-account-btn">
        <a href="/signup">Create new account</a>
    </div>
</form>
{{!-- JavaScript connection --}}
<script src="/js/login.js"></script>