<form class="login">
    <div class="login">
        <input type="text" id="sign-name" placeholder="Username">
        <input type="text" id="sign-pwd" placeholder="Password">
        <button type="submit">Sign In</button>
    </div>
    <div class="new-account-btn">
        <button><a href="/signup" style="text-decoration: none;">Create new account</a></button>
    </div>
</form>
{{!-- JavaScript connection --}}
<script src="/js/login.js"></script>