<div class="student-profile py-4 otherBg w-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img id="userAvatar">
            <h3 id="userName"></h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Elemental Type:</strong><span id="elType"></span></p>
            <p class="mb-0"><strong class="pr-1">Pokemon Avatar:</strong><span id="pokeName"></span></p>
            <p class="mb-0"><strong class="pr-1">Email:</strong><span id="userEmail">{{req.session.user_id}}</span></p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Explore PokeBook</h3>
              <div class="container">
                <div class="row mt-3">
                  <div class="col" id="button_red">
                    <button class="btn button"><img class="w-100" src="/images/nintendocartridge-red.png" alt="retake test"></button>
                  </div>
                  <div class="col" id="button_blue">
                    <button class="btn button"><img class="w-100" src="/images/nintendocartridge-blue.png" alt="view message board"></button>
                  </div>
                  <div class="col" id="button_green">
                    <button class="btn button"><img class="w-100" src="/images/nintendocartridge-green.png" alt="view your posts"></button>
                  </div>
                </div>
              </div>
          </div>
          <div class="card-body pt-0">
            
          </div>
        </div>
          <div style="height: 26px"></div>
        <div class="">
          <img class="w-100 gameboy" id="gameboy" src="/images/gameboy.png" alt="gameboy">
        </div>
      </div>
    </div>
  </div>
</div>

  <script src="/anime/anime.min.js"></script>
  <script src="/js/profile.js"></script>