{{!-- sign up form --}}
<form class="signup-form">
    <div class="signup-form">
        <input type="text" id="sign-name" placeholder="Username">
        <input type="text" id="sign-email" placeholder="Email">
        <input type="text" id="sign-pwd" placeholder="Password">
        <button type="submit">Create Account</button>
    </div>
</form>
{{!-- JavaScript connection --}}
<script src="/js/signup.js"></script>