main {
    background-image: url("/images/Poké_Ball_icon.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login, .signup-form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sign-name, #sign-email {
    padding: 10px;
    border-radius: 5px;
}

#sign-pwd {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0 5px 0;
}

.new-account-btn {
    border-style: solid;
    border-color: rgb(114,114,114);
    border-radius: 5px;
    background-color: rgb(79,79,79);
    padding: 10px;
}

.new-account-btn a {
    color: white;
    text-decoration: none;
}

.back-to-login {
    border-style: solid;
    border-color: rgb(114,114,114);
    border-radius: 5px;
    background-color: rgb(79,79,79);
}

.back-to-login a {
    color: white;
    text-decoration: none;
}