main {
    background-image: url("../images/poke-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login, .signup-form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sign-name, #sign-email {
    padding: 10px;
    border-radius: 5px;
}

#sign-pwd {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0 5px 0;
}

.new-account-btn {
    padding: 10px;
}